@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  background: conic-gradient(from 180deg at 50% 50%, #2a8af6 0deg, #a853ba 180deg, #e92a67 1turn);
  mix-blend-mode: normal;
  filter: blur(75px);
  will-change: filter;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;

}
